# Ejemplo de configuración de variables de entorno
MAILER_SERVICE=gmail # ejemplo: gmail, outlook, sendgrid
MAILER_EMAIL=usuario@ejemplo.com # ejemplo: ejemplo@correo.com
MAILER_SECRET_KEY=clave_de_aplicacion # ejemplo: abcd efgh ijkl mnop
MAILER_RECEPTOR=destinatario@ejemplo.com # ejemplo: contacto@empresa.com
NEXT_PUBLIC_DOMAIN=https://www.tudominio.com # ejemplo: https://www.midominio.com
